[Unit]
Description=Homelab Docker Compose Stack
Requires=docker.service
After=docker.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/srv/homelab
ExecStartPre=/usr/bin/docker compose -f compose/base/docker-compose.base.yml -f compose/env/docker-compose.ubuntu.yml pull
ExecStart=/usr/bin/docker compose -f compose/base/docker-compose.base.yml -f compose/env/docker-compose.ubuntu.yml up -d
ExecStop=/usr/bin/docker compose -f compose/base/docker-compose.base.yml -f compose/env/docker-compose.ubuntu.yml down
ExecReload=/usr/bin/docker compose -f compose/base/docker-compose.base.yml -f compose/env/docker-compose.ubuntu.yml pull
ExecReload=/usr/bin/docker compose -f compose/base/docker-compose.base.yml -f compose/env/docker-compose.ubuntu.yml up -d
TimeoutStartSec=300
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
